name: Build

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Build
        run: uv run python scripts/pyzgen.sh rsstail.pyz

      - uses: actions/upload-artifact@v6
        with:
          name: rsstail.pyz
          path: rsstail.pyz
